.user_white{
  color: white !important;
}
.user_margin p{
  margin: 5px !important;
}

.user_bg{
  background-image: url('../../../assets/bg.jpg') !important;
 height: 100vh;
 }
 .user_login_bg{
   padding-top: 10%;
 
   margin-bottom: 10%;
 }
 .user_left_text{
   padding-top: 30%;
 }
 .user_left_address{
   padding-right: 15px;
   margin-top: 56%;
 }